* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100%;
  line-height: 40px;
}

body {
  background-color: rgb(240, 238, 230);
}

a {
  text-decoration: none;
}

/* Largeur des blocks */
header,
section,
footer {
  width: 100%;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Blocks du header */
header div,
header nav {
  width: 33.33%;
}

/* Branding */
.branding {
  padding: 5px 25px;
}
.branding a {
  font-size: 50px;
  color: orangered;
}

/* Navbar */
nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  font-size: 20px;
  padding: 0 10px;
}

/* Btn Logout */
.logout {
  text-align: end;
  padding: 0 30px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  line-height: 20px;
  background-color: rgb(233, 205, 45);
  border-radius: 10px;
  box-shadow: 2px 2px 9px 0px #6f6d6d;
}

.btn-info {
  background-color: rgb(67, 160, 172);
  color: #fff;
}

.btn-warning {
  background-color: rgb(216, 215, 114);
  color: #fff;
}

.btn-danger {
  background-color: rgb(191, 56, 56);
  color: #fff;
}

section {
  max-width: 95%;
  margin: 0 auto;
}

h1 {
  font-size: 45px;
  line-height: 50px;
  padding: 15px 0 35px 0;
}

h2 {
  padding: 15px 0;
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
  display: inline-block;
}

/* ==================================================== */

table th {
  background-color: goldenrod;
  text-align: center;
  padding: 0 15px;
}

table td {
  text-align: center;
  padding: 10px 20px;
}
